@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/

* {
    box-sizing: border-box;
}

body {
    text-align: left;
}

h1 {
    font-size: 30px;
    color: rebeccapurple;
}

form {
    display: inline-block;
    flex-direction: row;
    position: relative;
}

button {
    border: 1px solid rgb(118, 118, 118);
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 29px;
    padding: 0 10px 0 10px;
    margin: 0;
    width: auto;
}

#button-create {
    background: mediumpurple;
    color: #ffffff;
}

#button-delete {
    background: lightgrey;
    color: #000;
}

.input-url {
    color: black;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 30px;
}

ol {
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    color: black;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.error-message {
    color: black;
    font-family: Inter,sans-serif;
    font-size: 24px;
    font-weight: 500;
    height: 30px;
    padding: 0 10px 0 0;
    margin: 0;
    width: auto;
}

#button-edit {
    border-radius: 2px;
    font-size: 16px;
    font-weight: 500;
    height: 20px;
    margin: 0 0 0 10px;
    width: auto;
}