@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(9, 77, 143);
}

form {
    /*display: block;*/
    justify-self: center;
}

button {
    border: 1px solid #1E90FFFF;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 29px;
    padding: 0 10px 0 10px;
    margin: 0;
    width: auto;
}

#button-create {
    background: dodgerblue;
    color: #fff;
}

#button-delete {
    background: dodgerblue;
    color: #fff;
}

.input-url {
    background-color: white;
    border: 2px solid #1E90FFFF;
    border-radius: 4px;
    color: rgb(9, 77, 143);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 30px;
}

.input-url::placeholder {
    color: rgb(9, 77, 143);
}

div.list {
    background-color: rgba(135, 206, 250, 0.6);
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0 10px 0;
}

ol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #010150;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

ol li {
    height: 40px;
}

.error-message {
    color: black;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    height: 30px;
    padding: 0 10px 0 0;
    margin: 0;
    width: auto;
}

#button-edit {
    background: dodgerblue;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    margin: 0 0 0 10px;
    width: 60px;
}